<div class="container-fluit p-5">
    <div class="row">
        <div class="logo col-sm-4 ">
            <img src="/assets/imagenes/imagen.jpg" alt="prueba">
        </div>
        <div class="usuario col-sm-4 offset-sm-4   ">
            <img class="avatar" src="/assets/imagenes/imagen.jpg" alt="prueba">
        </div>
    </div>
<br>
    <hr>


    <div class="main  mx-auto mt-5 p-5 text-white">
        <div>
            <span class="bienvenido ">¡ Bienvenido a BitFy !</span> <br> <br>
            <div class="texto text-center">
                <span class="escucha ">Escucha las mejores canciones sin pagar.</span> <br> <br>
                <button class="btn btn-outline-dark"> Descubre mas aquí</button>
            </div>
        </div>
    </div>
</div>