<div class="container-fluit mt-5">
    <div class="contenedor row">
        <div class="asidenav col-md-3 bg-primary">
            <div id="list-example" class="list-group">
                <a class="list-group-item list-group-item-action" href="#">Home</a>
                <a class="list-group-item list-group-item-action" href="#">Editar Perfil</a>
                <a class="list-group-item list-group-item-action" href="#">Canciones</a>
              </div>
              <!-- <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
                <h4 id="list-item-1">Item 1</h4>
                <p>...</p>
                <h4 id="list-item-2">Item 2</h4>
                <p>...</p>
                <h4 id="list-item-3">Item 3</h4>
                <p>...</p>
                <h4 id="list-item-4">Item 4</h4>
                <p>...</p>
              </div> -->
        </div>




        <div class="col-md-9 canciones">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
            <div class="genero1 mt-5">
                <div class="album">
                    <a class="btn btn-outline-dark"></a> <br>
                    <small>adsfdsa</small>
                </div>
                <div class="album">
                    <a class="btn btn-outline-dark">dsf</a> <br>
                    <small>adsfdsa</small>
                </div>
                <div class="album">
                    <a class="btn btn-outline-dark">dsf</a> <br>
                    <small>adsfdsa</small>
                </div>
                <div class="album">
                    <a class="btn btn-outline-dark">dsf</a> <br>
                    <small>adsfdsa</small>
                </div>
            </div>

        </div>
    </div>
</div>